.tax-calculator {
    width: 500px;
    margin: auto;
    padding: 15px;
}

table {
    width: 100%;
    border: 1px solid #7f7f7f;
    border-collapse: collapse;
}

th {
    background-color: #4286ff;
    color: white;
}

td {
    padding: 15px;
}